.top-navbar-right {
    float : right
}

.top-navbar-right .ant-btn span{
    color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
}